<div class="studio">
  <mat-toolbar class="studio__toolbar">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="studio__toolbar-title">Creator Studio</span>
  </mat-toolbar>

  <mat-sidenav-container class="studio__container">
    <mat-sidenav
      [mode]="'side'"
      [opened]="sidenavOpen()"
      class="studio__sidenav"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/studio/tours" routerLinkActive="active-link">
          <mat-icon matListItemIcon>map</mat-icon>
          <span matListItemTitle>Your tours</span>
        </a>
        <!-- <a mat-list-item routerLink="/studio/requests" routerLinkActive="active-link">
          <mat-icon matListItemIcon>inbox</mat-icon>
          <span matListItemTitle>Open requests</span>
        </a>
        <a mat-list-item routerLink="/studio/offer-job" routerLinkActive="active-link">
          <mat-icon matListItemIcon>work_outline</mat-icon>
          <span matListItemTitle>Offer a job</span>
        </a> -->
        <a mat-list-item routerLink="/studio/earnings" routerLinkActive="active-link">
          <mat-icon matListItemIcon>account_balance_wallet</mat-icon>
          <span matListItemTitle>Earnings</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="studio__content">
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
