<div class="studio">
  <mat-toolbar class="studio__toolbar">
    <button mat-icon-button class="studio__toolbar-toggle" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="studio__toolbar-title">Creator Studio</span>
  </mat-toolbar>

  <nav class="studio__tabs" aria-label="Studio sections">
    @for (item of navItems; track item.route) {
      <a
        class="studio__tab"
        [routerLink]="item.route"
        routerLinkActive="studio__tab--active"
      >
        <mat-icon class="studio__tab-icon">{{ item.icon }}</mat-icon>
        <span class="studio__tab-label">{{ item.label }}</span>
      </a>
    }
  </nav>

  <mat-sidenav-container class="studio__container">
    <mat-sidenav
      [mode]="'side'"
      [opened]="sidenavOpen()"
      class="studio__sidenav"
    >
      <mat-nav-list>
        @for (item of navItems; track item.route) {
          <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="studio__content">
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
